name: deno-deploy
on:
    push:
        branches:
            - change-to-main-if-you-want-to-deploy-to-deno-deploy
jobs:
    deploy:
        runs-on: ubuntu-latest
        permissions:
            id-token: write # Needed for auth with Deno Deploy
            contents: read # Needed to clone the repository
        steps:
            - uses: actions/checkout@v3

            - uses: pnpm/action-setup@v4
              name: Install pnpm
              with:
                  run_install: false

            - uses: actions/setup-node@v3
              with:
                  node-version: 22
                  cache: pnpm

            - run: pnpm install

            - run: pnpm generate

            - name: Deploy to Deno Deploy
              uses: denoland/deployctl@v1
              with:
                  project: change-project-name
                  entrypoint: https://deno.land/std@0.140.0/http/file_server.ts
                  root: .output/public
